/* Variables */
@import "../../resources/scss/variables/colors";
@import "../../resources/scss/variables/font";


/* Componenets of the site */
@import "../../resources/scss/modules/reset";
@import "../../resources/scss/variables/banner";
@import "../../resources/scss/modules/nav";

.content {
    width: 95vw;
    margin: auto;
    font-family: $body-font;
    display: grid;
    grid-gap: 10px;
    @include between($laptop, $desktop) {
        grid-template-columns: 1fr 1fr;
    }
    @include between($desktop, $fourK) {
        grid-template-columns: repeat(3, 1fr);
    }
}

h1 {
    font-family: $body-font;
    text-align: center;
    padding: 20px 0;
}

.officer {
    color: white;
    background: $grey;
    @include greater-than($phone) {
        display: flex;
        align-items: center;
    }

    padding: 20px;

    h5 {
        padding: 5px 0;
    }

    .imgContainer {
        text-align: center;

        @include greater-than($phone) {padding-right: 20px;}
        @include less-than($phone) {padding-bottom: 10px;}
        img {
            width: 150px;
            border-radius: 50%;
        }
    }
    .description {
        p {
            text-indent: 20px;
            line-height: 1.2;
        }
    }
}
