/* Variables */
@import "../../resources/scss/variables/colors";
@import "../../resources/scss/variables/font";


/* Componenets of the site */
@import "../../resources/scss/modules/reset";
@import "../../resources/scss/variables/banner";
@import "../../resources/scss/modules/nav";

.content {
    width: 95vw;
    margin: auto;
    font-family: $body-font;
}

h1 {
    font-family: $body-font;
    text-align: center;
    padding: 20px 0;
}

table {
    margin: auto;
    color: white;
    th {
      text-align: left;
      background: $grey;
    }
    td, th {
      padding: 10px;
    }
    td {
      background: lighten($grey, 20%);
    }
    padding: 20px;
}
