/* Variables */
@import "../../resources/scss/variables/colors";
@import "../../resources/scss/variables/font";


/* Componenets of the site */
@import "../../resources/scss/modules/reset";
@import "../../resources/scss/variables/banner";
@import "../../resources/scss/modules/nav";


.content {
    font-family: $body-font;
    width: 95vw;
    margin: auto;
    h2 {
        text-align: center;
        font-weight: 700;
    }
    .center {
        text-align: center;
    }
}

.clubsBox {
    background: #d7d7d7;
    display: flex;
    margin: 15px 0;
    .text {
        width: 85%;
        padding: 20px;
        h3 {
            padding: 0 10px;
            font-weight: 500;
        }
        p {
            padding: 0 10px;
            line-height: 1.3;
        }
    }
    .imgBox {
        width: 15%;
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 10px;
        img {
            width: 100%;
        }
    }
    table {
        padding: 0 0 10px 10px;
        td {
            padding: 0 5px;
        }
    }
}
