/*OSU theme colors*/

$orange:     #c34500;
$grey-brown: #615042;
$bown:       #9d601e;
$sand:       #f3d08e;
$grey:       #373737;
$black:      black;
$white:      #f5f2ed;
$blue:       #385e86;
$light-blue: #a7c4c9;
$green:      #4e7300;
$purple:     #561f4b;
$red:        #af292e;
