$navHeight: 50px;

body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    background: $orange;
    height: $navHeight;
    width: 100vw;
    p {
        text-indent: 15px;
        color: $white;
        font-family: $body-font;
        margin: 0;
        padding: 0;
        line-height: $navHeight;
        font-size: 15pt;
        background: black;
        width: 150px;
    }
    a {
        color: $white;
        text-decoration: none;
        transition: .5s;
        padding: 0;
        width: 110px;
        text-align: center;
        font-family: $body-font;
        font-size: 14pt;
        line-height: $navHeight;   
        
    }
    .selected {
        background: $grey;
        cursor: default;
    }
    .unselected:hover {
        transition: .5s;
        background: $blue;
    }
}