@import "../variables/colors";
@import "../variables/font";
@import "../variables/breakpoints";

nav {
    grid-area: nav;
    background: $orange;
    p, a {
        color: white;
        font-family: $body-font;
    }
    p {
        margin: 0;
        padding: 0 15px;
        font-size: 15pt;
        background: black;
    }
    a {
        text-decoration: none;
        transition: .5s;
        padding: 0 20px;
        text-align: center;
        font-size: 14pt;
        &:hover {
            transition: .5s;
            background: $blue;
        }
    }
    #selectedTab {
        background: $grey;
        cursor: default;
    }

    @include less-than($tablet) {
        width: 100vw;
        p { text-align: center; }
        .links {
            display: flex;
        }
        p, a {
            padding: 10px 0;
            width: 100vw;
        }
    }

    @include greater-than($tablet) {
        display: flex;
        .links { display: flex; }
        p, a { line-height: 50px; }
    }
}
