@import "../variables/colors";
@import "../variables/font";
@import "../variables/breakpoints";

$navHeight: 50px;

body {
    margin: 0;
    padding: 0;
}

nav {
    grid-area: nav;
    display: flex;
    height: $navHeight;
    background: $orange;
    width: 100vw;
    p, a {
        line-height: $navHeight;
        color: white;
        font-family: $body-font;
    }
    p {
        margin: 0;
        padding: 0 15px;
        font-size: 15pt;
        background: black;
    }
    a {
        text-decoration: none;
        transition: .5s;
        padding: 0 20px;
        text-align: center; 
        font-size: 14pt;
        &:hover {
            transition: .5s;
            background: $blue;       
        }
    }
    #selectedTab {
        background: $grey;
        cursor: default;
    }
}