@import "../variables/colors";
@import "../variables/font";
@import "../variables/breakpoints";

nav {
    grid-area: nav;
    background: $orange;
    width: 100vw;
    p, a {
        color: white;
        font-family: $body-font;
        line-height: 50px;
    }
    p {
        margin: 0;
        padding: 0 15px;
        font-size: 15pt;
        background: $black;
    }
    a {
        text-decoration: none;
        transition: .5s;
        padding: 0 20px;
        text-align: center;
        font-size: 14pt;
        &:hover {
            transition: .5s;
            background: $blue;
        }
    }
    .links {
        display: flex;
    }

    #selectedTab {
        transition: 0s;
        background: $grey;
        cursor: default;
    }

    @include greater-than($phone) {
        display: flex;
    }
    @include less-than($phone) {
        p { text-align: center; }
        .links { justify-content: center; }
    }
}
