/* Variables */
@import "../resources/scss/variables/colors";
@import "../resources/scss/variables/font";
@import "../resources/scss/variables/breakpoints";
@import "../resources/scss/variables/banner";

/* Componenets of the site */
@import "../resources/scss/modules/reset";
@import "../resources/scss/modules/nav";

html, body {
    min-height: 100vh;
    font-family: $body-font;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  div {
    max-width: 500px;
    h2 {
      padding: 15px 0;
    }
  }
}

.notification {
    background: darken($orange, 15%);
    padding: 10px;
    text-align: center;
    color: white;
}
