/* Variables */
@import "../resources/scss/variables/colors";
@import "../resources/scss/variables/font";
@import "../resources/scss/variables/breakpoints";
@import "../resources/scss/variables/banner";

/* Componenets of the site */
@import "../resources/scss/modules/reset";
@import "../resources/scss/modules/nav";

html, body {
    min-height: 100vh;
}

body {
    display: grid;

    @include less-than($tablet) {
        grid-template-columns: 150px auto;
        grid-template-areas:
            "nav"
            "events"
            "about";
    }

    @include greater-than($tablet) {
        grid-template-rows: 50px auto;
        grid-template-areas:
            "nav nav"
            "events about";
    }
}

.whoWeAre {
    grid-area: about;
    padding: 20px;
    background: grey;
    h2 {
        font-family: $body-font;
        text-align: center;
    }
    p {
        font-family: $body-font;
        text-align: justify;
    }
}

.upcomingEvents {
    grid-area: events;
    .event {
        background: $light-blue;
        width: 500px;
        margin: 10px;
        .imgContainer {
            height: 200px;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .content {
            font-family: $body-font;
            padding: 20px;
            h3 {
                text-align: center;
            }
        }
    }
}
