/* Variables */
@import "../../resources/scss/variables/colors";
@import "../../resources/scss/variables/font";


/* Componenets of the site */
@import "../../resources/scss/modules/reset";
@import "../../resources/scss/variables/banner";
@import "../../resources/scss/modules/nav";


.content {
    width: 95vw;
    max-width: 1000px;
    margin: auto;
    padding: 10px 0;

    font-family: $body-font;

    h1, h2 {
        text-align: center;
        padding: 20px 0 5px 0;
    }
    h4 {
        padding: 15px 0 5px 0;
    }
    p {
        line-height: 1.4;
    }
    b {
        font-weight: 600;
    }
}
